.topo{
    margin-top: 10px;
}

.icon-multi{
    color: blue;
    margin-top: 15px;
    margin-left: 70px;
}

.nome-topo{
    color: blue;
    font-size: 20px;
    font-weight: 200;
    margin-left: 95px;
    margin-top: -20px;
}

.club{
    color: navy;
}

.cont-img-topo{
    margin-top: -15px;
    background-color: navy;
    height: 200px;
}

.img-topo{
    height: 100%;
}

.text-topo{
    color: white;
    margin-left: 30px;
    margin-top: -35px;
}

.text-vant{
    margin-left: 20px;
    margin-top: 30px;
    color:blue;
}

.text2-vant{
    margin-left: 20px;
    font-size: 10px;
    color: rgb(187, 187, 187);
    width: 90%;
    text-align: center;
}

.img-vant{
    margin-left: 20px;
    border-radius: 15px;
    width: 90%;
    height: 40%;
}