<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <div class="topo">
      <ion-icon name="toggle-outline" class="icon-multi"></ion-icon>
    
    <p class="nome-topo">MULTI <span class="club">CLUB</span></p>
  </div>
    
  </ion-toolbar>
</ion-header>

<div>
  <div class="cont-img-topo">
    
  <img src="https://www3.yamaha-motor.com.br/file/general/banner_principal_BluClub_1920x1080.jpg" class="img-topo row-10">
  <h5 class="text-topo">Seja bem-vindo ao nosso aplicativo!</h5>
</div> 
</div>

<div >
  <a href="#"><h5 class="text-vant">PROGRAMA DE VANTAGENS</h5></a>
  <p class="text2-vant">* Um PROGRAMA GRATUITO E EXCLUSIVO para quem adquiriu sua moto 0km*</p>
  <img src="https://www.vivo.com.br/content/dam/vivo-sites/vivo-com-br/homepage/imagens/fotos/vivo-explica-como-melhorar-internet-do-celular-limpe-o-cache-2112-600x400.jpg" class="img-vant">
</div>

<div>
  <a href="#"><h5 class="text-event">Eventos</h5></a>
  <img src="https://lh3.googleusercontent.com/Am-lY-d4-6jV-6so3TzGV4UOt4N3CAClacWVTprUplXXxrpQ0VrsieVvHCBRbI_9j1Ni-Q=s170" class="img-event">
  </div>

  <div>
    <a href="#"><h5 class="text-curs">Cursos</h5></a>
  <img src="https://lh3.googleusercontent.com/JsqXXJHR0GR9qRC8cCQzEPIZokX6VYmGgI8N95mp9VjWqcksVd9i2wkJzthB7BL7eVQZ1A=s170" class="img-curs">
</div>

<!--<ion-card>
  <ion-card-header>
    <div class="img-card">
      <img class="card-img-top img-cards"
        src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
        alt="Card image cap">
    </div>
    <ion-card-title>STREET</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”, pois – como o próprio nome diz – são indicadas para a circulação nas cidades. 
    Feitas no padrão on road, apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500 cilindradas (sendo as mais 
    comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as queridinhas da maior parte dos brasileiros, geralmente por terem preços mais 
    acessíveis e serem mais fáceis de pilotar.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <div class="img-card">
      <img class="card-img-top img-cards"
        src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
        alt="Card image cap">
    </div>
    <ion-card-title>STREET</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”, pois – como o próprio nome diz – são indicadas para a circulação nas cidades. 
    Feitas no padrão on road, apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500 cilindradas (sendo as mais 
    comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as queridinhas da maior parte dos brasileiros, geralmente por terem preços mais 
    acessíveis e serem mais fáceis de pilotar.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="img-card">
      <img class="card-img-top img-cards"
        src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
        alt="Card image cap">
    </div>
    <ion-card-title>STREET</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”, pois – como o próprio nome diz – são indicadas para a circulação nas cidades. 
    Feitas no padrão on road, apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500 cilindradas (sendo as mais 
    comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as queridinhas da maior parte dos brasileiros, geralmente por terem preços mais 
    acessíveis e serem mais fáceis de pilotar.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="img-card">
      <img class="card-img-top img-cards"
        src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
        alt="Card image cap">
    </div>
    <ion-card-title>STREET</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”, pois – como o próprio nome diz – são indicadas para a circulação nas cidades. 
    Feitas no padrão on road, apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500 cilindradas (sendo as mais 
    comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as queridinhas da maior parte dos brasileiros, geralmente por terem preços mais 
    acessíveis e serem mais fáceis de pilotar.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="img-card">
      <img class="card-img-top img-cards"
        src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
        alt="Card image cap">
    </div>
    <ion-card-title>STREET</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”, pois – como o próprio nome diz – são indicadas para a circulação nas cidades. 
    Feitas no padrão on road, apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500 cilindradas (sendo as mais 
    comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as queridinhas da maior parte dos brasileiros, geralmente por terem preços mais 
    acessíveis e serem mais fáceis de pilotar.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <div class="img-card">
      <img class="card-img-top img-cards"
        src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
        alt="Card image cap">
    </div>
    <ion-card-title>STREET</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”, pois – como o próprio nome diz – são indicadas para a circulação nas cidades. 
    Feitas no padrão on road, apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500 cilindradas (sendo as mais 
    comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as queridinhas da maior parte dos brasileiros, geralmente por terem preços mais 
    acessíveis e serem mais fáceis de pilotar.
  </ion-card-content>
</ion-card>-->
  